<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger text-center">
            <h4 class="card-title">{{routeInfoAddRecipe.title}}</h4>
          </div>
          <div class="card-body">
            <mat-horizontal-stepper>
              <mat-step [stepControl]="formRecipe" errorMessage="Campo incompleto.">
                <ng-template matStepLabel>Descripción de la Receta</ng-template>
                <app-step-recipe [formRecipeGroup]="formRecipe" name="nameCtrl"
                                 category="categoryCtrl"></app-step-recipe>
              </mat-step>
              <mat-step [stepControl]="formIngredient" errorMessage="Address is required.">
                <ng-template matStepLabel>Ingredientes de la Receta</ng-template>
                    <app-step-ingredient [formIngredientGroup]="formIngredient" controlValidator="ingredientCtrl"></app-step-ingredient>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Elaboración de la Receta</ng-template>
                <app-step-preparation [formPreparationGroup]="formPreparation" name="preparationCtrl"></app-step-preparation>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
