<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger text-center">
            <h4 class="card-title">{{routeInfoAddRecipe.title}}</h4>
          </div>
          <div class="card-body">
            <mat-horizontal-stepper #stepper>
              <mat-step [stepControl]="firstFormGroup" errorMessage="Campo incompleto.">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Descripción de la Receta</ng-template>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Titulo</mat-label>
                        <input matInput placeholder="Nombre de la Receta" formControlName="nameCtrl" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field>
                        <mat-label>Categoría</mat-label>
                        <mat-select formControlName="categoryCtrl" required>
                          <mat-option>--</mat-option>
                          <mat-option *ngFor="let category of valueSelect" [value]="category.value">
                            {{category.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-8">
                      <legend>Imagen de la Receta</legend>

                      <div data-provides="fileinput" class="fileinput text-center">
                        <div class="fileinput-preview thumbnail" style="">
                          <img src="{{uploadImage.viewValue}}" alt="{{uploadImage.value}}">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <button mat-button class="btn btn-rose btn-round btn-file" (click)="onClick()">
                        <span class="fileinput-new">Select image</span>
                        <span class="fileinput-exists">Change</span>
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button mat-button class="btn btn-danger btn-round fileinput-exists" (click)="removeFile()">
                        <i class="fa fa-times"></i> Remove
                      </button>
                    </div>

                    <input type="file" id="fileUpload" name="fileUpload" accept="image/*" class="d-none"/>
                  </div>
                  <div class="row justify-content-center">
                    <button mat-raised-button matStepperNext class="btn btn-danger">Continuar</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Fill out your address</ng-template>
                  <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                           required>
                  </mat-form-field>
                  <div>
                    <p>Go to a different step to see the error state</p>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
