<div class="main-content">
  <div class="container-fluid">
    <div class="row pb-4">
      <div class="col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">playlist_add</i>
            </div>
            <h3 class="card-title text-center">Crear Receta</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person_search</i>
            </div>
            <h3 class="card-title text-center">Buscar Recetas</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar rounded">
              <img class="img rounded" src="./assets/img/faces/marc.jpg"/>
          </div>
          <div class="card-body">
            <h4 class="card-title">Solomillo al Jerez</h4>
            <p class="card-description">
              Forma de preparación
            </p>
            <a href="javascript:void(0)" class="btn btn-round">Seguir leyendo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar rounded">
            <img class="img rounded" src="./assets/img/faces/marc.jpg"/>
          </div>
          <div class="card-body">
            <h4 class="card-title">Solomillo al Jerez</h4>
            <p class="card-description">
              Forma de preparación
            </p>
            <a href="javascript:void(0)" class="btn btn-round">Seguir leyendo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar rounded">
            <img class="img rounded" src="./assets/img/faces/marc.jpg"/>
          </div>
          <div class="card-body">
            <h4 class="card-title">Solomillo al Jerez</h4>
            <p class="card-description">
              Forma de preparación
            </p>
            <a href="javascript:void(0)" class="btn btn-round">Seguir leyendo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
