<div class="main-content">
  <div class="container-fluid" *ngIf="recipe">
    <div class="card">
      <div class="card-header card-header-danger text-center">
        <h3 class="card-title">{{recipe.title}}</h3>
      </div>
      <div class="card-body">
        <div class="row text-center">
          <div class="col-md-4">
            <img *ngIf="recipe.imagePath" src="{{urlApi}}{{recipe.imagePath}}" alt="{{recipe.title}}" class="img">
            <img *ngIf="!recipe.imagePath" src="{{imageDefault.viewValue}}" alt="{{imageDefault.value}}" class="img">

            <i class="material-icons">restaurant</i><h6>{{category.viewValue}}</h6>

            <div class="card">
              <div class="card-header card-header-primary text-center">
                Ingredientes
              </div>
              <div class="card-body">
                <input type="number" id="diner" min="1" [value]="numberDiner" (change)="updateNumberDiner($event)">Personas
                <div class="row" *ngFor="let ingredient of recipe.ingredients">
                  <div class="col-8">{{ingredient.title}}</div>
                  <div class="col-4">{{ingredient.amount*numberDiner}}</div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-8">
            <div class="row mat-form-field-infix">
              <h3 class="card-title text-danger">Preparación</h3>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
