
<form [formGroup]="formRecipeGroup">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Nombre de la Receta" [formControlName]="name" required>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Categoría</mat-label>
        <mat-select [formControlName]="category" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let category of valueSelect" [value]="category.value">
            {{category.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <div class="row justify-content-center">
        <mat-label>Imagen de la Receta</mat-label>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button mat-button class="btn btn-rose btn-round btn-file fileinput-new" (click)="onClick()">
            <span>Añadir imagen</span>
          </button>
        </div>
        <div class="col-sm-6">
          <button mat-button class="btn btn-rose btn-round btn-file fileinput-exists"
                  (click)="changeFile()">
            <span>Cambiar</span>
          </button>
        </div>
        <div class="col-sm-6">
          <button mat-button class="btn btn-danger btn-round fileinput-exists" (click)="removeFile()">
            <i class="fa fa-times"></i> Borrar
          </button>
        </div>
      </div>
      <div class="row">
        <div data-provides="fileinput" class="fileinput text-center">
          <img *ngIf="imageFile" [src]="urlApi+''+imageFile.name" class="img">
          <img *ngIf="!imageFile" src="{{imageDefault.viewValue}}" alt="{{imageDefault.value}}" class="img">
        </div>
      </div>
    </div>
  </div>
  <input type="text" [formControlName]="image" class="d-none" />
  <input type="file" id="fileUpload" name="fileUpload" accept="image/*" class="d-none"/>
  <div class="row pull-right">
    <button mat-raised-button matStepperNext class="btn btn-danger">Continuar<i
      class="material-icons">arrow_forward_ios</i>
    </button>
  </div>
</form>

